/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f4f7; /* Light background color */
}

/* Header Styles */
h1 {
    color: #333; /* Dark grey text color */
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2em;
    text-align: center;
}

/* Form Styles */
form {
    background-color: #fff; /* White background */
    padding: 2rem; /* Padding around the form */
    border-radius: 0.5rem; /* Rounded corners */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* Light shadow for depth */
    max-width: 400px; /* Maximum width for the form */
    width: 100%; /* Full width within the max-width */
    transition: transform 0.3s; /* Smooth transition for scaling effect */
    margin-bottom: 20px;
}

form:hover {
    transform: scale(1.05); /* Scale the form by 1.05 times on hover */
}

label {
    display: block;
    margin-bottom: 0.5rem; /* Space below labels */
    color: #333; /* Dark grey text color */
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 2rem); /* Full width minus padding */
    padding: 0.5rem; /* Padding inside the input fields */
    margin-bottom: 1rem; /* Space below input fields */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 0.25rem; /* Slightly rounded corners */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

/* Submit Button Styles */
input[type="submit"] {
    width: 100%; /* Full width */
    padding: 0.75rem; /* Padding inside the button */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text color */
    border: none; /* No border */
    border-radius: 0.25rem; /* Slightly rounded corners */
    font-size: 1rem; /* Larger text size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

input[type="submit"]:hover {
    background-color: black; /* Change background color on hover */
}